<h1>Sign Up</h1>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action="/signup" method="POST">
  <p>Name: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input class="btn btn-primary" type="submit">
</form>
