<p> Here are the areas you've visited, <%= @user.username %>
<% @user.areas.each do |area| %>
  <ul>
    <li><a href="/areas/<%=area.id%>"><%= area.city_name%>, <%=area.country_name%></a></li>
  </ul>
<% end %>
