<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h1>Edit <%=@area.city_name%>, <%=@area.country_name%></h1>


<form action="/areas/<%=@area.id%>" method="POST">
  <label> Country Name: </label>
  <input type="text" name="country_name">
  <br></br>
  <label>City or Town Name:</label>
  <input type="text" name="city_name">
    <br></br>
  <input type="submit" value="Update Area">

</form>
