<h1>Add a New Area You've Visited</h1>

<form action="/areas" method="POST">
  <label>Country Name</label>
  <input type="text" name="country_name"</br>

  <label>City or Town Name</label>
  <input type="text" name="city_name"></br>

  <input type="submit" value="Create Area">

</form>
