<p>Sorry, <%=current_user.username%>. You need to add an area you've visited before you can begin adding places you've found.</p>

<p><a href="/areas/new">Click Here</a> to add an area, or <a href="/areas">Click Here</a> to explore all the areas and places other users have found.</p>
