<h1>Add an Interesting Place You've Found</h1>

<form action="/places" method="POST">
<label>Type of Place</label>
<input type="text" name="type">
<br></br>

<label>Name of Place</label>
<input type="text" name="name">
<br></br>

<label>Description of Place</label>
<input type="text" name="description">
<br></br>

<input type="submit" value="Create Place">


</form>
